body {
    background-color:lightcyan;
    margin: 20px;
}


h1, h2, h3, p, li, label {
    color: lightslategray;
    font-family: sans-serif;
    font-size: 20px;

}

button {
    margin-left: 750px;
}

#para1 {
    text-align: right;

}

#para2 {
    text-align: right;

}

* {
    z-index: 1;
}

#nameButton {
    margin: auto;
}

#webpage {
    height: max-content;
    width: max-content;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: rgb(195, 221, 248);   
}
#webpage:hover {
    border-radius: 20px;
}


 @media only screen and (min-width: 600px) {
    #webpage {
        background-color: red;
    }  
 }
 
 @media only screen and (min-width: 768px) {
    #webpage {
        background-color: purple;
    }   
 }
 
 @media only screen and (min-width: 992px) {
    #webpage {
        background-color: blue;
    }   
 }
 
 @media only screen and (min-width: 1200px) {
    #webpage {
        background-color: gray;
    }
    body {
        opacity: 0%;
    }   
 } 